@use "sass:list";
@use "variables";

/*
=================================================================
    Layout Spacing
=================================================================
*/

body {
    background-color: variables.$white;
}

main {
    display: flex;
    flex-direction: column;
}

section, .section {
    padding: variables.$section-margin-laptop 0;
    &:first-child {
        padding: calc(variables.$section-margin-laptop + variables.$header-height) 0 variables.$section-margin-laptop 0;
    }
    @media (max-width: variables.$mobile) {
        padding: variables.$section-margin-mobile 0;
        &:first-child {
            padding: calc(variables.$section-margin-mobile + variables.$header-height) 0 variables.$section-margin-mobile 0;
        }
    }
    @media (min-width: variables.$hd) {
        padding: variables.$section-margin-desktop 0;
        &:first-child {
            padding: calc(variables.$section-margin-desktop + variables.$header-height) 0 variables.$section-margin-desktop 0;
        }
    }
}

.container {
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 variables.$container-padding-desktop;
    @media (max-width: variables.$tablet) {
        padding: 0 variables.$container-padding-tablet;
        column-gap: variables.$grid-column-gap-tablet;
    }
    @media (max-width: variables.$mobile) {
        padding: 0 variables.$container-padding-mobile;
        column-gap: variables.$grid-column-gap-mobile;
    }
    @media (min-width: variables.$hd) {
        padding: 0 variables.$container-padding-hd-screens;
        column-gap: variables.$grid-column-gap-desktop;
        max-width: 1920px;
    }
}

.row {
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(variables.$grid-columns-desktop, 1fr);
    column-gap: variables.$grid-column-gap-desktop;
    // mobile
    @media (max-width: variables.$mobile) {
        display: flex;
        flex-direction: column;
    }
    // tablet
    @media (min-width: variables.$mobile) and (max-width: variables.$tablet) {
        grid-template-columns: repeat(variables.$grid-columns-tablet, 1fr);
        column-gap: variables.$grid-column-gap-tablet;
    }
}

.row-flex {
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    // mobile
    @media (max-width: variables.$mobile) {
        flex-direction: column;
    }
}

/*
=================================================================
    Grid
=================================================================
*/

// create all grid column classes for dekstop
@for $i from 1 through variables.$grid-columns-desktop {
	.col-#{$i} {
		grid-column: span #{$i};
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
	}
	// create all grid column offset classes
	@for $j from 1 through calc(variables.$grid-columns-desktop - $i) {
		@if $i < variables.$grid-columns-desktop {
			.col-#{$i}-offset-#{$j} {
				display: flex;
                flex-direction: column;
                align-items: flex-start;
                position: relative;
				grid-column-start: #{$j + 1};
				grid-column-end: #{$i + $j + 1};
                @media(max-width: variables.$mobile) {
                    width: 100%;
                }
			}
		}
	}
}

// create all grid column classes for dekstop
@for $i from 1 through variables.$grid-columns-desktop {
	.col-#{$i} {
		grid-column: span #{$i};
        @media(max-width: variables.$mobile) {
            width: 100%;
        }
	}
}

// // create all grid column classes for mobile
// @for $i from 1 through $grid-columns-mobile {
// 	@media(max-width: $mobile) {
// 		.col-sm-#{$i} {
// 			grid-column: span #{$i};
// 		}
// 	}
// }

// create all grid column classes for tablet
@for $i from 1 through variables.$grid-columns-tablet {
    @media (max-width: variables.$tablet) {
        .col-md-#{$i} {
            grid-column: span #{$i};
        }
    }
}

// // create all grid column classes for hd-screens
// @for $i from 1 through $grid-columns-hd-screens {
//     @media(min-width: $hd) {
//         .col-lg-#{$i} {
//             grid-column: span #{$i};
//         }
//     }
// }

/*
=================================================================
    Spacing
=================================================================
*/

// create all padding and margin classes
@each $space in variables.$spacing {
    @each $class, $class-name in list.zip(variables.$directions, variables.$directions-classname) {
        .#{$class-name}-#{$space} {
            #{$class}: #{$space}px;
        }
    }
}

// override certain padding and margin classes for mobile
@media(max-width: variables.$mobile) {
    @each $class, $class-name in list.zip(variables.$directions, variables.$directions-classname) {
        @each $laptop, $mobile in list.zip(variables.$laptop-change, variables.$mobile-change) {
            .#{$class-name}-#{$laptop} {
                #{$class}: #{$mobile}px;
            }
        }
    }
}

// override certain padding and margin classes for large screens
@media(min-width: variables.$hd) {
    @each $class, $class-name in list.zip(variables.$directions, variables.$directions-classname) {
        @each $laptop, $desktop in list.zip(variables.$laptop-change, variables.$desktop-change) {
            .#{$class-name}-#{$laptop} {
                #{$class}: #{$desktop}px;
            }
        }
    }
}