/*
=================================================================
    Layout Spacing
=================================================================
*/

// for verticle spacing
section, .section {
    margin: $section-margin-laptop 0;
    @media (max-width: $mobile) {
        margin: $section-margin-mobile 0;
    }
    @media (min-width: $tablet) and (max-width: $desktop) {
        margin: $section-margin-tablet 0;
    }
    @media (min-width: $desktop) and (max-width: $hd) {
        margin: $section-margin-laptop 0;
    }
    @media (min-width: $hd) {
        margin: $section-margin-desktop 0;
    }
    &:last-child {
        margin-bottom: 0;
    }
    &:first-child {
        margin-top: 0;
    }
}

// for horizontal spacing
.container {
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 $container-padding-desktop;
    @media (max-width: $mobile) {
        padding: 0 $container-padding-mobile;
        column-gap: $grid-column-gap-mobile;
    }
    @media (max-width: $tablet) {
        padding: 0 $container-padding-tablet;
        column-gap: $grid-column-gap-tablet;
    }
    @media (min-width: $hd) {
        padding: 0 $container-padding-hd-screens;
        column-gap: $grid-column-gap-desktop;
        max-width: $container-max-width;
    }
}


// used for grid
.row {
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat($grid-columns-desktop, 1fr);
    column-gap: $grid-column-gap-desktop;
    // mobile
    @media (max-width: $mobile) {
        grid-template-columns: repeat($grid-columns-mobile, 1fr);
        column-gap: $grid-column-gap-mobile;
    }
    // tablet
    @media (min-width: $mobile) and (max-width: $tablet) {
        grid-template-columns: repeat($grid-columns-tablet, 1fr);
        column-gap: $grid-column-gap-tablet;
    }
}

// used for flexbox
.row-flex {
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    // mobile
    @media (max-width: $mobile) {
        flex-direction: column;
    }
}

// empty column instead of offset.
.empty {
    @include max-screen($mobile) {
        display: none;
    }
}


/*
=================================================================
    Grid
=================================================================
*/

// create all grid column classes for dekstop
@for $i from 1 through $grid-columns-desktop {
	.col-#{$i} {
		grid-column: span #{$i};
	}
}

// create all grid column classes for mobile
@for $i from 1 through $grid-columns-mobile {
	@media(max-width: $mobile) {
		.col-sm-#{$i} {
			grid-column: span #{$i};
		}
	}
}

// create all grid column classes for tablet
@for $i from 1 through $grid-columns-tablet {
    @media (max-width: $tablet) {
        .col-md-#{$i} {
            grid-column: span #{$i};
        }
    }
}

// create all grid column classes for hd-screens
@for $i from 1 through $grid-columns-hd-screens {
    @media(min-width: $hd) {
        .col-lg-#{$i} {
            grid-column: span #{$i};
        }
    }
}


/*
=================================================================
    Spacing
=================================================================
*/

// create all padding and margin classes
// @each $space in $spacing {
//     @each $class, $class-name in zip($directions, $directions-classname) {
//         .#{$class-name}-#{$space} {
//             #{$class}: #{$space}px;
//         }
//     }
// }

// // override certain padding and margin classes for mobile
// @media(max-width: $mobile) {
//     @each $class, $class-name in zip($directions, $directions-classname) {
//         @each $desktop, $mobile in zip($desktop-change, $mobile-change) {
//             .#{$class-name}-#{$desktop} {
//                 #{$class}: #{$mobile}px;
//             }
//         }
//     }
// }


