@use "../../include/variables";


// remove header logo, etc.
#CybotCookiebotDialogHeader {
	display: none !important;
}

// fade at the bottom of other tabs
#CybotCookiebotFader {
	background: none !important;
}

// background color
#CybotCookiebotDialogNav, .CybotCookiebotScrollContainer, .CybotCookiebotDialogBodyBottomWrapper, #CybotCookiebotDialogFooter {
	background-color: variables.$dim-grey !important;
}

// buttons
.CybotCookiebotDialogBodyButton {
	background-color: transparent !important;
	border: 1px solid variables.$black !important;
	border-radius: 40px !important;
	color: variables.$black !important;
}

// text color
.CybotCookiebotDialogNavItemLink, #CybotCookiebotDialogTabContent {
	color: variables.$black !important;
}

// color of active tab
.CybotCookiebotDialogActive {
	border-bottom: 1px solid variables.$orange !important;
}

// toggle off color
#CybotCookiebotDialog .CybotCookiebotDialogBodyLevelButtonSlider {
	background-color: variables.$slate-grey !important;
}

// toggle on color
#CybotCookiebotDialog input:checked+.CybotCookiebotDialogBodyLevelButtonSlider {
	background-color: variables.$orange !important;
}

// remove fade at bottom of item
#CybotCookiebotDialog .CybotCookiebotFader.CybotCookiebotDialogActive {
    opacity: 0;
}

// remove widget from bottom left of site
#CookiebotWidget {
	display: none !important;
}