@use "../../include/mixins";
@use "../../include/variables";

.footer {
	padding: 40px 0;
	margin-top: 40px;
	border-top: 1px solid variables.$black;

	&__row {
		@include mixins.max-screen(variables.$mobile) {
			row-gap: 40px;
		}
		
	}

	&__logo {

	}

	&__nav {

		&__list {
			display: flex;
			flex-direction: column;

			&__item {

			}
		}

	}

	&__social {
		display: flex;
		gap: 12px;

		&__icon {

		}

	}

	&__contact {
		display: flex;
		flex-direction: column;
	}

	&__address {

	}
}