.form {

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 24px;
        @include max-screen($mobile) {
            align-items: center;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        width: 100%;

        label {
            font-size: 16px !important;
            line-height: 24px !important;
            color: $black;
        }
    }

    &__submit {

    }
}


/* Contact Form 7 reset */
.wpcf7-form {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  
  .wpcf7-form p {
    // margin: 0 0 1em;
  }
  
  .wpcf7-form input[type="text"],
  .wpcf7-form input[type="email"],
  .wpcf7-form input[type="url"],
  .wpcf7-form input[type="tel"],
  .wpcf7-form input[type="number"],
  .wpcf7-form input[type="date"],
  .wpcf7-form textarea {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    background-color: transparent;
    border-bottom: 2px solid $black;
    width: 100%;
  }

  .wpcf7-form input[type="submit"] {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: $white;
    text-transform: uppercase;
    z-index: 2;
    line-height: 32px !important;
    font-size: 14px !important;
		font-weight: 400 !important;
  }
  
  .wpcf7-form input[type="checkbox"],
  .wpcf7-form input[type="radio"] {
    margin: 0 0.5em 0 0;
    padding: 0;
    border: none;
    vertical-align: baseline;
    box-sizing: border-box;
  }
  
  .wpcf7-form label {
    margin: 0;
    padding: 0;
    // font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
  }
  
  .wpcf7-form input[type="text"]:focus,
  .wpcf7-form input[type="email"]:focus,
  .wpcf7-form input[type="url"]:focus,
  .wpcf7-form input[type="tel"]:focus,
  .wpcf7-form input[type="number"]:focus,
  .wpcf7-form input[type="date"]:focus,
  .wpcf7-form textarea:focus {
    border-bottom-color: $black;
    outline: none;
  }

.wpcf7-form .wpcf7-not-valid-tip {
    color: $error;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    margin-top: 8px;
}

.wpcf7-form textarea {
    height: 110px;
}

.wpcf7-spinner {
    display: none;
}