@use "../../include/mixins";
@use "../../include/variables";

.header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    transition: 0.5s;
    animation: showHeader 0.5s cubic-bezier(0.00, 0.00, 0.00, 1.00) both;

    &.hide-header {
        animation: hideHeader 0.5s cubic-bezier(0.00, 0.00, 0.00, 1.00) both;
    }

    &__container {
        .row {
            align-items: center;
            height: variables.$header-height;
            @include mixins.max-screen(variables.$tablet) {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
            }
        }
    }

    &__logo {
        z-index: 3;
        width: 120px;
        position: relative;
        @include mixins.max-screen(variables.$mobile) {
            width: 80px;
        }
        img {
            width: 100%;
            height: auto;
        }
    }

    &__nav {

        &__list {
            display: flex;
            justify-content: center;
            &__item {
                margin-right: 24px;
                span {}

            }
        }

        @include mixins.max-screen(variables.$tablet) {
            display: none;
        }

    }

    &__cta {
        display: flex;
        @include mixins.max-screen(variables.$tablet) {
            display: none;
        }
    }

    &__hamburger {
        display: none;
        transition-duration: 0.5s;
        @include mixins.max-screen(variables.$tablet) {
            display: flex;
			flex-direction: column;
			gap: 12px;
            z-index: 3;
        }

		span {
			display: block;
			width: 40px;
			height: 2px;
			background-color: variables.$black;
			transition-duration: 0.5s;
		}

		&.open {
			span:nth-child(2) {
				transition-duration: 0.5s;
				background: transparent;
			}
			span:nth-child(1) {
				transform: rotateZ(45deg) scaleX(1) translate(11px, 12px);
			}

			span:nth-child(3) {
				transform: rotateZ(-45deg) scaleX(1) translate(8px, -9px);
			}
		}
		&:hover {
			cursor: pointer;
		}
    }

    &__mobile-menu {
        display: none;
        &.open {
            display: block;
            position: absolute;
            width: 100%;
            height: 100vh;
            z-index: 2;
            background-color: variables.$white;
            top: 0;
            left: 0;
            animation: showSection 0.25s ease-in both;
        }
        &__list {
            display: flex;
            flex-direction: column;
            height: 100vh;
            justify-content: center;
            align-items: center;
            width: 100%;
            gap: 24px;

            &__item {

            }
        }
    }

}
