.video-block {

    @include min-screen($desktop) { 
        max-width: 1440px;
        margin: 0 auto;
    }

    // video-block__title
    &__title{
        text-align: start;
        margin-bottom: 40px;
        margin-left: 24px;
    }

    // video-block__video
    &__video {
        &__container {
			position: relative;
            display: flex;
            justify-content: center;
            padding: 0px;
            max-height: 800px;
            iframe {
                width: 100%;
                height: auto;
            }
            &__video {
                object-fit: cover;
            }
        }
    }

    // video-block__play-button
    &__play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%);
        background: transparent;
        border: none;
        height: 60px;
        width: auto;
        img {
            transition: all 0.3s ease-in-out;
            @include max-screen($mobile) { 
                width: 60px;
                height: auto;
                }
            }
        &:hover {
            img {
                scale: 1.2;
            }
        }
    }
}

.hide-button {
    transition: all 0.2s ease-in-out;
    opacity: 0;
}