
// header
@-webkit-keyframes hideHeader {
	from {transform: translate(0, 0%);}
	to {transform: translate(0, -100%);}
  }
@-webkit-keyframes showHeader {
from {transform: translate(0, -100%);}
to {transform: translate(0, 0%);}
}

// sections
@-webkit-keyframes showSection {
	from {opacity: 0;}
	to {opacity: 1;}
  }
@-webkit-keyframes hideSection {
	from {opacity: 1;}
	to {opacity: 0;}
  }

// buttons 
.btn, 
.btn span, 
.btn svg path {
	transition: all 0.2s ease-in-out;
}

// links
.link,
.link span,
.link span:after {
	transition: all 0.2s;
}