.header {

	&__container {

		.row {
			align-items: center;
			height: $header-height;
		}

	}

	&__logo {

	}

	&__nav {

		&__list {
			display: flex;
			justify-content: center;

			&__item {
				margin-right: 24px;

				span {

				}

			}
		}

		@include max-screen($tablet) {
			display: none;
		}

	}

	&__cta {
		// height: 100%;
		display: flex;

		@include max-screen($tablet) {
			display: none;
		}
	}

}