.header {

	&__container {

		.row {
			align-items: center;
		}

	}

	&__logo {

	}

	&__nav {
		margin: 24px 0;

		&__list {
			display: flex;
			justify-content: center;

			&__item {
				margin-right: 24px;

				span {

				}

			}
		}

	}

	&__cta {
		height: 100%;
		display: flex;
	}

}